.bello-test
  .bello-test-item
    outline: none
    width: 30px
    height: 30px
    text-align: center
    line-height: 30px
    border: solid 1px #d9d9d9
    &:hover
      border: solid 1px #b9b9b9
    &:focus
      border: solid 1px #49a9ee
