.bello-input
  box-sizing: border-box
  display: inline-block
  font-size: 12px
  border: 1px solid rgb(217, 217, 217)
  border-radius: 2px
  width: 200px
  height: 28px
  padding: 4px 6px
  outline: none
  transition: all 0.3s
  &.bello-input-sm
    height: 22px
    padding: 4px 6px
  &.bello-input-lg
    height: 32px
    padding: 6px 6px
  &.bello-input-disabled
    background: #d9d9d9
  &:hover
    border-color: #49a9ee
  &:focus
    border-color: #49a9ee